MONGODB_URL=
PORT=
COOKIE_DOMAIN=

CLIENT_URLS=
API_URL=

JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=

NODE_ENV=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

AUTH_EMAIL=
AUTH_PASSWORD=